<div class="container">
    <div class="row">
        <app-header></app-header>
        <!-- <app-login-main></app-login-main> -->
        <!-- <app-categoria-main></app-categoria-main> -->
        <!-- <app-codigo-qr-main></app-codigo-qr-main> -->
        <!-- <app-descripcion-boleta-main></app-descripcion-boleta-main> -->
        <!-- <app-entrega-pedidos-main></app-entrega-pedidos-main> -->
        <!-- <app-gestion-categoria-main></app-gestion-categoria-main> -->
        <!-- <app-gestion-marca-main></app-gestion-marca-main> -->
        <!-- <app-gestion-producto-main></app-gestion-producto-main> -->
        <!-- <app-gestion-proveedor-main></app-gestion-proveedor-main> -->
        <!-- <app-producto-distribuidor-main></app-producto-distribuidor-main> -->
        <!-- <app-info-user-main></app-info-user-main> -->
        <!-- <app-productos-main></app-productos-main> -->
        <!-- <app-registro-usuario-main></app-registro-usuario-main> -->
        <!-- <app-reversa-main></app-reversa-main> -->
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</div>



